@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #f9f9f9f9;
	font-family: "Mulish", sans-serif;
}
a {
	text-decoration: none;
}

.MuiInputBase-input,
.Mui-focused .MuiOutlinedInput-input,
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
	border: none !important;
}

input {
	caret-color: #fb635d;
}

li {
	cursor: pointer;
}
a {
	color: #fb635d;
}
